{% extends 'admin_head.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Page Content -->
     

<div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Welcome to Robb' Corner</h1>
                <p>Within this area, you can add articles and manage the site.</p>
            </p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}
