{% extends 'admin_head.html' %}

{% block title %} Edit An Article {% endblock %}

{% block body %}

<!-- Page Content -->
     

<div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Edit an Article</h1>
                <p>Make changes to an existing piece.</p>
                
            
                
                <form method='POST' action='/edit/{{ a.id }}'>
                    
                    <p><input name="title" id="title" type="text" class="form-control" placeholder="Article Name" value="{{ a.article }}"></p>
                    
                    <p><textarea class="form-control" id="body" name="body" placeholder="Body" rows="4" cols="900" style="height:390px;">{{ a.body }}</textarea></p>
                    
                
                
                <input type="submit" class="btn btn-primary" value="Make Changes">
                
                </form>
                
                
                
                
            </p>
    
    
    
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock %}
