{% extends 'header.html' %}

{% block title %} Home {% endblock %}
{% block headerdef %}
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/newhome-bg.jpg') }}">
        {% endblock %}

{% block headertitle %} Sports Cards and Collections {% endblock %}
{% block subtitle %} Your home for memorabilla and sports news, with a baseball swing. {% endblock %}

{% block body %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if articles %}
{% for a in articles %}
          <div class="post-preview">
            <a href="/view/{{ a.id }}">
              <h2 class="post-title">
                {{ a.article }}
              </h2>
              <h3 class="post-subtitle">
            
              </h3>
            </a>
            <p class="post-meta">Posted by
              Robb Dehney on
              {{ a.date.strftime('%A %B %m, %Y') }}</p>
          </div>
          <hr>
            {% endfor %}

{% else %}
<div class="alert alert-danger">
            No articles as of yet!</div>
      {% endif %}
          
          
          <!-- Pager -->
          <div class="clearfix">
          
          </div>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}